<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{443,375},{74,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{363,1},{140,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{176,150}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{185,1},{176,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,150}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{180,150}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{180,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{148,100}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{183,153},{148,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{307,255},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{361,375},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{417,217},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{401,291},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{417,143},{72,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{333,153},{82,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{273,379},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{169,379},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{182,150}</string>
                <key>textureRect</key>
                <string>{{183,255},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>x.png</string>
            <key>size</key>
            <string>{506,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0513226f67fd6f970719d80c32501def:fff0613d9768baf3c736804896d11b15:90accae31bfa8fa81313f00d1544350c$</string>
            <key>textureFileName</key>
            <string>x.png</string>
        </dict>
    </dict>
</plist>
