<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{81,152}</string>
                <key>spriteSourceSize</key>
                <string>{113,260}</string>
                <key>textureRect</key>
                <string>{{1584,122},{81,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{81,152}</string>
                <key>spriteSourceSize</key>
                <string>{113,260}</string>
                <key>textureRect</key>
                <string>{{1738,110},{81,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-63}</string>
                <key>spriteSize</key>
                <string>{131,61}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1439,146},{131,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-64}</string>
                <key>spriteSize</key>
                <string>{141,67}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1892,98},{141,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-57}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1874,1},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-45}</string>
                <key>spriteSize</key>
                <string>{143,107}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1729,1},{143,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1584,1},{143,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-31}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1439,1},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{143,161}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1294,1},{143,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 699.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{143,205}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{581,1},{143,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{143,203}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{871,1},{143,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{143,203}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1016,1},{143,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{143,209}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{148,1},{143,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{143,209}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{293,1},{143,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{141,209}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{438,1},{141,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,209}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{143,205}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{726,1},{143,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{131,197}</string>
                <key>spriteSourceSize</key>
                <string>{145,209}</string>
                <key>textureRect</key>
                <string>{{1161,1},{131,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>y.png</string>
            <key>size</key>
            <string>{2034,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff0f9ca18ebdbe7166e38229b3f0e01:328c138b3e67de72c14ef090499151ad:a6ce0c1dbeb63b994987866f61a3b361$</string>
            <key>textureFileName</key>
            <string>y.png</string>
        </dict>
    </dict>
</plist>
